<?xml version="1.0"?>
<config>
    <modules>
        <Horsebrands_BackorderLimit>
            <version>0.9</version>
            <depends>
                <!-- <MDN_AdvancedStock/> -->
            </depends>
        </Horsebrands_BackorderLimit>
    </modules>
    <global>
        <models>
            <horsebrands_backorderlimit>
                <class>Horsebrands_BackorderLimit_Model</class>
            </horsebrands_backorderlimit>
            <catalog>
                <rewrite>
                    <api2_product_rest_admin_v1>Horsebrands_BackorderLimit_Model_Api2_Product_Rest_Admin_V1</api2_product_rest_admin_v1>
                </rewrite>
            </catalog>
            <!-- <AdvancedStock>
                <rewrite>
                    <cataloginventory_stock_item>Horsebrands_BackorderLimit_Model_Stock_Item</cataloginventory_stock_item>
                </rewrite>
            </AdvancedStock> -->
            <cataloginventory>
                <rewrite>
                    <stock_item>Horsebrands_BackorderLimit_Model_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
            <cataloginventory>
                <rewrite>
                    <source_backorders>Horsebrands_BackorderLimit_Model_Source_Backorders</source_backorders>
                </rewrite>
            </cataloginventory>
        </models>
        <helpers>
            <Horsebrands_BackorderLimit>
                <class>Horsebrands_BackorderLimit_Helper</class>
            </Horsebrands_BackorderLimit>
            <AdvancedStock>
                <rewrite>
                    <Product_Base>Horsebrands_BackorderLimit_Helper_Base</Product_Base>
                </rewrite>
            </AdvancedStock>
        </helpers>
        <blocks>
            <Horsebrands_BackorderLimit>
                <class>Horsebrands_BackorderLimit_Block</class>
            </Horsebrands_BackorderLimit>

            <!-- <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_config_simple>
                        Horsebrands_BackorderLimit_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Simple
                    </catalog_product_edit_tab_super_config_simple>
                </rewrite>
            </adminhtml> -->
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Horsebrands_BackorderLimit before="Mage_Adminhtml">Horsebrands_BackorderLimit_Catalog_ProductController</Horsebrands_BackorderLimit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <horsebrands_backorderlimit_columns_on_product_grid>
                        <class>horsebrands_backorderlimit/observer_adminhtml</class>
                        <method>addColumnsToGrid</method>
                    </horsebrands_backorderlimit_columns_on_product_grid>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <catalog_product_collection_load_before>
                <observers>
                    <horsebrands_backorderlimit_catalog_product>
                        <class>horsebrands_backorderlimit/observer_adminhtml</class>
                        <method>joinFieldsToCollection</method>
                    </horsebrands_backorderlimit_catalog_product>
                </observers>
            </catalog_product_collection_load_before>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <catalog_product_is_salable_after>
                <observers>
                    <horsebrands_backorderlimit>
                        <type>singleton</type>
                        <class>horsebrands_backorderlimit/observer</class>
                        <method>catalogProductIsSalableAfter</method>
                    </horsebrands_backorderlimit>
                </observers>
            </catalog_product_is_salable_after>
        </events>
    </frontend>
</config>
