<?xml version="1.0"?>
<config>
    <modules>
        <Horsebrands_Rewrites>
            <version>1.0.0.0</version>
        </Horsebrands_Rewrites>
    </modules>
    <global>
      <blocks>
        <horsebrands_rewrites>
            <class>Horsebrands_Rewrites_Block</class>
        </horsebrands_rewrites>
        <Purchase>
          <rewrite>
            <SupplyNeeds_Grid>Horsebrands_Rewrites_Block_Adminhtml_Purchase_SupplyNeeds_Grid</SupplyNeeds_Grid>
            <Order_Edit_Tabs_Info>Horsebrands_Rewrites_Block_Adminhtml_Purchase_Order_Edit_Tabs_Info</Order_Edit_Tabs_Info>
          </rewrite>
        </Purchase>
      </blocks>
      <models>
          <horsebrands_rewrites>
              <class>Horsebrands_Rewrites_Model</class>
          </horsebrands_rewrites>
          <Purchase>
            <rewrite>
              <Pdf_Order>Horsebrands_Rewrites_Model_Purchase_Pdf_Order</Pdf_Order>
              <!-- <Pdf_Pdfhelper>Horsebrands_Rewrites_Model_Purchase_Pdf_Pdfhelper</Pdf_Pdfhelper> -->
            </rewrite>
          </Purchase>
          <horsebrands_rewrites_resource>
              <class>Horsebrands_Rewrites_Model_Resource</class>
          </horsebrands_rewrites_resource>
      </models>
      <resources>
          <horsebrands_rewrites_setup>
              <setup>
                  <module>Horsebrands_Rewrites</module>
              </setup>
          </horsebrands_rewrites_setup>
      </resources>
    </global>
</config>
