<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Horsebrands_NewsletterAdvanced>
            <version>0.1.0</version>
        </Horsebrands_NewsletterAdvanced>
    </modules>
    <global>
        <helpers>
            <newsletteradvanced>
                <class>Horsebrands_NewsletterAdvanced_Helper</class>
            </newsletteradvanced>
        </helpers>
        <blocks>
            <horsebrands_newsletteradvanced>
                <class>Horsebrands_NewsletterAdvanced_Block</class>
            </horsebrands_newsletteradvanced>
        </blocks>
        <models>
            <newsletteradvanced>
                <class>Horsebrands_NewsletterAdvanced_Model</class>
                <resourceModel>newsletteradvanced_resource</resourceModel>
            </newsletteradvanced>
            <newsletteradvanced_resource>
                <class>Horsebrands_NewsletterAdvanced_Model_Resource</class>
                <deprecatedNode>newsletteradvanced_mysql4</deprecatedNode>
                <entities>
                    <type>
                        <table>newsletter_type</table>
                    </type>
                    <typesubscriber>
                        <table>newsletter_type_subscriber</table>
                    </typesubscriber>
                </entities>
            </newsletteradvanced_resource>
        </models>
        <events>
            <customer_save_after>
                <observers>
                    <Horsebrands_NewsletterAdvanced_observer>
                        <type>singleton</type>
                        <class>newsletteradvanced/customer_observer</class>
                        <method>check_subscription_status</method>
                    </Horsebrands_NewsletterAdvanced_observer>
                </observers>
            </customer_save_after>
        </events>

        <resources>
            <newsletteradvanced_setup>
                <setup>
                    <module>Horsebrands_NewsletterAdvanced</module>
                </setup>
            </newsletteradvanced_setup>
        </resources>

        <rewrite>
            <Horsebrands_NewsletterAdvanced_manage>
                <from><![CDATA[#^/crconnect/manage#]]></from>
                <to>/NewsletterAdvanced/manage</to>
            </Horsebrands_NewsletterAdvanced_manage>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <NewsletterAdvanced>
                <use>standard</use>
                <args>
                    <module>Horsebrands_NewsletterAdvanced</module>
                    <frontName>NewsletterAdvanced</frontName>
                </args>
            </NewsletterAdvanced>
            <newsletter>
                <args>
                    <modules>
                        <Horsebrands_NewsletterAdvanced before="Mage_Newsletter">
                            Horsebrands_NewsletterAdvanced
                        </Horsebrands_NewsletterAdvanced>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Horsebrands_NewsletterAdvanced before="Mage_Adminhtml">Horsebrands_NewsletterAdvanced_Adminhtml</Horsebrands_NewsletterAdvanced>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <foo_bar>
                    <!--
                    We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
                    - Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
                    -->
                    <file>horsebrands/newsletteradvanced.xml</file>
                </foo_bar>
            </updates>
        </layout>
    </adminhtml>
</config>