<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Horsebrands_Invitefriends>
      <version>0.1.1</version>
    </Horsebrands_Invitefriends>
  </modules>
  <global>
    <helpers>
      <invitefriends>
        <class>Horsebrands_Invitefriends_Helper</class>
      </invitefriends>
    </helpers>
    <blocks>
      <invitefriends>
        <class>Horsebrands_Invitefriends_Block</class>
      </invitefriends>
    </blocks>

    <models>
      <invitefriends>
        <class>Horsebrands_Invitefriends_Model</class>
        <resourceModel>invitefriends_resource</resourceModel>
      </invitefriends>
      <invitefriends_resource>
        <class>Horsebrands_Invitefriends_Model_Resource</class>
        <entities>
          <invite>
            <table>invitefriends_invites</table>
          </invite>
        </entities>
      </invitefriends_resource>
      <salesrule>
        <rewrite>
          <coupon>Horsebrands_Invitefriends_Model_SalesRule_Coupon</coupon>
        </rewrite>
      </salesrule>
    </models>
    <resources>
      <invitefriends_setup>
        <setup>
          <module>Horsebrands_Invitefriends</module>
        </setup>
      </invitefriends_setup>
    </resources>
    <events>
      <customer_confirmation_successful>
        <observers>
          <invitefriends>
            <class>invitefriends/observer</class>
            <method>processInvitation</method>
          </invitefriends>
        </observers>
      </customer_confirmation_successful>
      <sales_order_save_after>
        <observers>
          <invitefriends>
            <class>invitefriends/observer</class>
            <method>processInviteeOrder</method>
          </invitefriends>
        </observers>
      </sales_order_save_after>
    </events>
  </global>
  <frontend>
    <routers>
      <invitefriends>
        <use>standard</use>
        <args>
          <module>Horsebrands_Invitefriends</module>
          <frontName>invitefriends</frontName>
        </args>
      </invitefriends>
    </routers>
  </frontend>
</config>
