<?xml version="1.0"?>
<config>
    <modules>
        <Horsebrands_Aktionen>
            <version>0.1.0</version>
        </Horsebrands_Aktionen>
    </modules>
    <global>
        <blocks>
            <aktionen>
                <class>Horsebrands_Aktionen_Block</class>
            </aktionen>
        </blocks>
        <models>
            <aktionen>
                <class>Horsebrands_Aktionen_Model</class>
            </aktionen>
        </models>
        <helpers>
            <aktionen>
                <class>Horsebrands_Aktionen_Helper</class>
            </aktionen>
        </helpers>
    </global>
    <frontend>
        <routers>
            <aktionen>
                <use>standard</use>
                <args>
                    <module>Horsebrands_Aktionen</module>
                    <frontName>aktionen</frontName>
                </args>
            </aktionen>
        </routers>
        <layout>
            <updates>
                <aktionen>
                    <file>aktionen.xml</file>
                </aktionen>
            </updates>
        </layout>
    </frontend>
</config>
